<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>React - ejercicios</title>

    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="root"></div>

    <script src="motos.js"></script>

    <script type="text/babel">
      class Main extends React.Component {
        render() {
          return (
            <div>
              <HolaMundo />
              <Bola />
              <Cuadrado />
              <Separador />
              <Titulo texto="Hola React!" />
              <BolaX talla="80" margen="10" fondo="#ff0000" />
              <CuadradoB talla="70" margen="8" grosor="5" color="red" />
              <Mosca color="blue" />
              <Capital nom="Barcelona" />
              <Gato ancho="200" alto="200" nombre="Garfield" />
              <BolaBingo num="22" />
              <FotoBola src="http://lorempixel.com/200/200" talla="200" />
              <Marco
                src="http://lorempixel.com/200/300"
                borde="10"
                color="brown"
                fondo="beige"
              />
              <Lista datos="Sevilla,Jijón,Murcia,Albacete,Girona,Madrid,Barcelona,Lleida,Tarragona" />
              <FlipIcon icon1="fa-thumbs-up" icon2="fa-thumbs-down" />
              <Motos datos={MOTOS} />
            </div>
          );
        }
      }

      class FlipIcon extends React.Component {
        constructor(props) {
          super(props);
          this.toggleIcon = this.toggleIcon.bind(this);
          this.state = {
            currentIcon: this.props.icon2,
            color: "gray"
          };
        }

        toggleIcon() {
          let toggled = {
            icon:
              this.state.currentIcon === this.props.icon1
                ? this.props.icon2
                : this.props.icon1,
            color: this.state.currentIcon === this.props.icon1 ? "red" : "blue"
          };

          this.setState({
            currentIcon: toggled.icon,
            color: toggled.color
          });
        }

        render() {
          let estilo = {
            display: "inline-block",
            cursor: "pointer",
            border: "1px solid blue",
            padding: 10,
            margin: 15,
            backgroundColor: "lightgray",
            color: this.state.color
          };
          return (
            <div onClick={this.toggleIcon} style={estilo}>
              <i className={`fas ${this.state.currentIcon} fa-5x`} />
            </div>
          );
        }
      }

      const Motos = props => {
        let filas = MOTOS.filter(moto => moto.kilometres > 75000).map(moto => {
          return (
            <tr>
              <td>{moto.model}</td>
              <td>{moto.kilometres}</td>
            </tr>
          );
        });

        return (
          <table>
            <thead>
              <tr>
                <th>Modelo</th>
                <th>Kms</th>
              </tr>
            </thead>
            <tbody>{filas}</tbody>
          </table>
        );
      };

      const HolaMundo = () => <h1>Hola Mundo</h1>;
      const Bola = props => <div className="bola" />;
      const Cuadrado = () => <div className="cuadrado" />;
      const Separador = () => <div className="separador" />;
      const Titulo = props => <h1>{props.texto}</h1>;

      const BolaX = props => {
        let estilo = {
          width: props.talla,
          height: props.talla,
          margin: props.margen,
          backgroundColor: props.fondo,
          borderRadius: props.talla / 2
        };
        return <div className="bola" style={estilo} />;
      };

      const CuadradoB = props => {
        let estilo = {
          width: props.talla,
          height: props.talla,
          margin: props.margen,
          border: `${props.grosor}px solid ${props.color}`
        };
        return <div style={estilo} />;
      };

      const Mosca = props => {
        let estilo = {
          color: props.color,
          position: "fixed",
          top: 10,
          right: 10,
          fontSize: 40
        };
        return (
          <div style={estilo}>
            <i className="fas fa-carrot" />
          </div>
        );
      };

      const Capital = props => {
        return (
          <div>
            <div style={{ fontSize: 200 }}>{props.nom[0].toUpperCase()}</div>
            <div style={{ fontSize: 30 }}>{props.nom}</div>
          </div>
        );
      };

      const Gato = props => {
        let url = `http://placekitten.com/${props.ancho}/${props.alto}`;
        let estilo = {
          width: props.ancho,
          border: "1px solid blue",
          padding: 5
        };
        return (
          <div style={estilo}>
            <img src={url} />
            <h4 style={{ textAlign: "center", margin: "5px auto" }}>
              {props.nombre}
            </h4>
          </div>
        );
      };

      const BolaBingo = props => {
        let estilo = {
          display: "flex",
          justifyContent: "center",
          alignItems: "center",
          fontSize: 40,
          color: "white"
        };
        return (
          <div style={estilo} className="bola">
            {props.num}
          </div>
        );
      };

      const FotoBola = props => {
        return (
          <img
            src={props.src}
            width={props.talla}
            height={props.talla}
            style={{ borderRadius: props.talla / 2 }}
          />
        );
      };

      const Marco = props => {
        let estilo = {
          margin: 15,
          display: "inline-block",
          border: `3px solid ${props.color}`,
          backgroundColor: props.fondo,
          padding: props.borde
        };
        return (
          <div style={estilo}>
            <img src={props.src} />
          </div>
        );
      };

      const Lista = props => {
        let listaCiudades = props.datos.split(",");
        let lis = listaCiudades.map(ciudad => <li>{ciudad}</li>);

        return <ul>{lis}</ul>;
      };

      ReactDOM.render(<Main />, document.getElementById("root"));
    </script>
  </body>
</html>
