.bola {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px;
  background-color: red;
}

.cuadrado {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 5px;
}

.separador {
  padding: 2px 0;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
}
